<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Liste des catways</h1>
    <ul>
        <% catways.forEach(catway => { %>
            <li>
                <p>Numero de catway : <%= catway.catwayNumber %></p>
                <form action="/catways/<%= catway.id %>" method="get">
                    <button type="submit">Details</button>
                </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>